html {
  width: 100%;
  overflow: hidden;
}
body {
  position: fixed;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  border: none;
  overflow-y: hidden;
}
@media (max-width: 800px) {
  /* Allow to scroll down to hide address bar*/
  body {
    overflow-y: scroll;
  }
}

body > div {
  width: 100%;
}

body {
  display: flex;
}
